.board-view {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--title {
      font-size: 2rem;
      font-weight: bold;
    }
    &--actions {
      display: flex;
      gap: 10px;
    }
  }
  &__body {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 50px;
    padding-top: 60px;
    &__list {
      flex: 0 0 300px;
      background-color: var(--primary);
      color: white;
      border-radius: 10px;
      padding: 10px;
      &--title {
        cursor: grab;
      }
    }
  }
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__box {
    label {
      font-size: 1rem;
    }
  }
}
